allow system_server lineage_data_file:file r_file_perms;
allow system_server sysfs_motor:file { w_file_perms getattr };

allow system_server audioserver:process getattr;
allow system_server bluetooth:process getattr;
allow system_server cameraserver:process getattr;
allow system_server gmscore_app:process getattr;
allow system_server isolated_app:process getattr;
allow system_server mediaprovider_app:process getattr;
allow system_server mediaserver:process getattr;
allow system_server network_stack:process getattr;
allow system_server nfc:process getattr;
allow system_server permissioncontroller_app:process getattr;
allow system_server platform_app:process getattr;
allow system_server priv_app:process getattr;
allow system_server radio:process getattr;
allow system_server secure_element:process getattr;
allow system_server surfaceflinger:process getattr;
allow system_server system_app:process getattr;
allow system_server system_suspend:process getattr;
allow system_server untrusted_app:process getattr;
allow system_server untrusted_app_25:process getattr;
allow system_server untrusted_app_27:process getattr;
allow system_server untrusted_app_29:process getattr;
